body {
  margin: 0;
  background-image: url("../images/fondomain2.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

#my-canvas {
  background-color: darkgray;
}

#start-btn {
  background-color: gray;
  color: rgb(239, 192, 74);
  padding: 15px;
  font-size: 30px;
  margin-top: 20px;
  border-radius: 5px; 
  flex: center;
  border-radius:15px;
}

#replay-btn {
  background-color:rgb(116, 116, 116);
  color: rgb(239, 192, 74);
  padding: 15px;
  font-size: 30px;
  margin-top: 70px;
  border-radius: 5px; 
  flex: center;
  border-radius:15px;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#my-canvas {
  display: none;

}

.paddingTop {
  padding-top: 150px;
}

#gameover-screen {
  display: none;
}

.instructions {
  font-size: 30px;
  font-family:monospace;
  font-style: italic;
  color: rgb(239, 192, 74);
}

.yourscore {
  margin-top: 50px;
  font-size: 50px;
  font-family:monospace;
  font-style: italic;
  color: rgb(239, 192, 74);
}

.finalscore {
  margin-top: 5px;
  font-size: 50px;
  font-family:monospace;
  font-style: italic;
  color: rgb(239, 192, 74);
}

/* #my-canvas, #start-screen {
    display: flex;
} */